.logo-zone { 
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.logo-config { 
	display: flex; 
	justify-content: center;
	margin: auto;
}

.logo-text { 
	display: flex;
	justify-content: center; 
	margin: auto;
}